<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PHP Dischi</title>
    <!--bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!--/bootstrap-->
    <!-- roboto slab -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap"
      rel="stylesheet"
    />
    <!-- roboto slab/ -->
    <!-- my css -->
    <link rel="stylesheet" href="src/css/style.css" />
    <!-- my css -->
  </head>

  <body class="bg-dark py-5">
    <div id="app">
      <div
        class="container d-flex flex-column justify-content-center align-items-center"
      >
        <!-- titolo del sito -->
        <header class="text-center mb-4 text-light">
          <!-- titolo -->
          <h1>Discs PHP</h1>
          <h2>An introduction to Back-end development</h2>

          <!-- spiegazione -->
          <div class="text-warning mb-4">
            Click on the Song Title to view the Description
          </div>

          <!-- form -->
          <form
            @submit.prevent="addDisk"
            class="d-flex flex-wrap justify-content-between"
          >
            <!-- titolo -->
            <div class="mb-3">
              <label for="disc-title" class="form-label">Insert Title</label>
              <input
                type="text"
                class="form-control"
                id="disc-title"
                v-model="titolo"
              />
            </div>

            <!-- artista -->
            <div class="mb-3">
              <label for="disc-artist" class="form-label"
                >Insert Artist or Group</label
              >
              <input
                type="text"
                class="form-control"
                id="disc-artist"
                v-model="artista"
              />
            </div>

            <!-- anno -->
            <div class="mb-3">
              <label for="disc-year" class="form-label"
                >Insert Year of release</label
              >
              <input
                type="number"
                class="form-control"
                id="disc-year"
                v-model="anno"
              />
            </div>

            <!-- anno -->
            <div class="mb-3">
              <label for="disc-genre" class="form-label"
                >Insert Disk Genre</label
              >
              <input
                type="text"
                class="form-control"
                id="disc-genre"
                v-model="genere"
              />
            </div>

            <!-- genere -->
            <div class="form-floating w-100 d-flex justify-content-center mb-3">
              <label for="disc-description" class="d-none">Comments</label>
              <textarea
                class="form-control w-50"
                id="disc-description"
                v-model="descrizione"
              ></textarea>
            </div>

            <div class="w-100">
              <button class="btn btn-primary">Submit</button>
            </div>
          </form>
        </header>

        <!-- main del sito -->
        <main class="d-flex justify-content-between w-100">
          <!-- lista dei dischi -->
          <section
            class="-lc-list col-6 border-s border border-light text-light p-3 rounded-2"
          >
            <!-- titolo sezione -->
            <div class="-lc-list-title text-center mb-5">
              <h2>List of discs</h2>
            </div>

            <!-- lista  -->
            <div class="-lc-list-disc row">
              <div v-for="(disc, index) in discs" class="-lc-list-block col-4">
                <div class="-lc-img p-5 bg-black bg-opacity-25 mb-3 rounded-2">
                  <img
                    :src="disc.src"
                    :alt="disc.titolo"
                    class="img-fluid w-100"
                  />
                </div>
                <div class="-lc-description text-center mb-3 px-2">
                  <h5 class="-lc-disc-title" @click="showDescription(disc.id)">
                    {{ disc.titolo }}
                  </h5>
                  <h6 class="-lc-artist fw-bold">{{ disc.artista }}</h6>
                  <div>{{ disc.anno }}</div>
                </div>
              </div>
            </div>
          </section>

          <!-- informazioni sui dischi -->
          <section
            class="-lc-display-info col-5 border border-light text-light p-3 rounded-2"
          >
            <!-- titolo sezione -->
            <div class="-lc-display-info-title text-center mb-5">
              <h2>Description</h2>
              <div>{{ description }}</div>
            </div>
          </section>
        </main>
      </div>
    </div>

    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /vue -->
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- /axios -->
    <!-- my js -->
    <script src="src/js/main.js"></script>
    <!-- my js -->
  </body>
</html>
